<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nuevo Articulo</h1>
    <form method="post" action="/nuevo">
        producto: <input type="text" name="product" />
        precio: <input type="text" name="price" />
        <input type="submit" value="guardar" />
    </form>
  </body>
</html>