<!DOCTYPE html>
<html>
  <head>
    <title>ver</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Articulo</h1>
    <div>
        <span><%= articulo.producto %></span> <span><%= articulo.precio %></span>       
    </div>
    <a href="/articulos">regresar</a>
  </body>
</html>
