<!DOCTYPE html>
<html>
  <head>
    <title>Nuevo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nuevo Articulo</h1>
    <form novalidate>
         Producto :
        <input type="text" name="producto" ng-model="body.producto"><br>
         Precio : 
        <input type="text" name="precio" ng-model="body.precio"><br>
        <button ng-click="guardar()">Guardar Nuevo</button>
      </form>
  </body>
</html>