<html>
  <head>
    <title>Edit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ver Articulo</h1>
     
         Id : {{ params._id }}
        <br>
         Producto :{{ params.producto }}
        <br>
         Precio : {{ params.precio }}
        <br>
        <button ng-click="tabla()">Ir atrás</button>
      
  </body>
</html>

